doctype

mixin mainMenu(current)
  - var items = [["http://github.com/shin1m/xemmai", "xemmai"], ["http://github.com/shin1m/creole.js", "creole.js"]];
  each item in items
    if current === item[0]
      li.active: a(href="#{root}#{item[0]}")= item[1]
    else
      li: a(href="#{root}#{item[0]}")= item[1]

html
  head
    title
      | shin1m -&nbsp;
      block title
    link(rel="stylesheet", media="screen", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    style(type="text/css").
      body {
        padding-top: 70px;
        padding-bottom: 70px;
      }
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#{root}index.html") shin1m
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            block mainMenu
              +mainMenu("")
    .container
      .row
        block content
      hr
      footer
        p &copy; 2014 shin1m
    block scripts
      script(src="http://code.jquery.com/jquery-2.1.0.min.js")
      script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
